*{
    margin: 0;
    padding: 0;
}

.container{
    width: 500px;
    display: flex;
  margin-top: 350px;
  margin-left: 900px;

}
button{
  background-color: rgba(243, 243, 243, 0);
  color: rgb(0, 0, 0);
  width: 100px;
  height: 50px;
  border-color: aliceblue;
  margin-top: 20px;
}
hr{
  animation: al 5s infinite alternate;
}
@keyframes al {

  0%{margin-left: 0px;
  }
  100%{margin-left: 1700px;}
}